#food-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px
}
.food{
    border: 2px solid gainsboro;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 400px;
    margin: auto;   
}
.food-name{
    font-size: 30px;
    font-weight: 700;
}
#item-name{
    color:black;
    font-weight: 700;   
}
.ingredients{
    text-align: justify;
    margin-left: 60px;
    width: 400px;
    margin-bottom: 40px;
}
